---
import { SITE_TITLE } from '../consts';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
---

<html lang="en">
<head>
  <BaseHead title="Links" description="Explore useful links related to the Lemonade Stand Podcast." />
</head>
<body class="min-h-screen bg-white">
  <Header />
  <main class="container mx-auto py-8 grid grid-cols-1 md:grid-cols-2 gap-8">
    <section class="text-center">
      <h2 class="text-2xl font-bold mb-4">Podcasts</h2>
      <div class="space-y-2">
        <a href="https://www.youtube.com/@LemonadeStandPodcast" target="_blank" class="block text-lime-800 hover:underline">YouTube</a>
        <a href="https://open.spotify.com/show/0Yz44z9z3t8VQu4WRmsrs6" target="_blank" class="block text-lime-800 hover:underline">Spotify</a>
        <a href="https://podcasts.apple.com/us/podcast/lemonade-stand/id1799868725" target="_blank" class="block text-lime-800 hover:underline">Apple Podcasts</a>
        <a href="https://music.amazon.com/podcasts/7d7e1f54-49a3-4082-81e8-f70bfe1ace63/lemonade-stand" target="_blank" class="block text-lime-800 hover:underline">Amazon Music</a>
        <a href="https://www.iheart.com/podcast/269-lemonade-stand-269417962/" target="_blank" class="block text-lime-800 hover:underline">iHeartRadio</a>
      </div>
    </section>

    <section class="text-center">
      <h2 class="text-2xl font-bold mb-4">Follow Us</h2>
      <div class="space-y-2">
        <a href="https://x.com/LemonadeCast" target="_blank" class="block text-lime-800 hover:underline">Twitter</a>
        <a href="https://www.instagram.com/thelemonadecast/" target="_blank" class="block text-lime-800 hover:underline">Instagram</a>
      </div>
    </section>

    <section class="text-center">
      <h2 class="text-2xl font-bold mb-4">The C-suite</h2>
      <div class="space-y-2">
        <a href="https://x.com/aidencalvin" target="_blank" class="block text-lime-800 hover:underline">Aiden</a>
        <a href="https://x.com/Atrioc" target="_blank" class="block text-lime-800 hover:underline">Atrioc</a>
        <a href="https://x.com/DougDougFood" target="_blank" class="block text-lime-800 hover:underline">DougDoug</a>
      </div>
    </section>

    <section class="text-center">
      <h2 class="text-2xl font-bold mb-4">Contribute</h2>
      <div class="space-y-2">
        <a href="https://github.com/LemonadeStandPodcast/LemonadeStandPodcast.github.io" target="_blank" class="block text-lime-800 hover:underline">GitHub Repository</a>
        <a href="https://github.com/LemonadeStandPodcast/LemonadeStandPodcast.github.io/issues" target="_blank" class="block text-lime-800 hover:underline">GitHub Issues</a>
        <a href="https://x.com/swapsha96" target="_blank" class="block text-lime-800 hover:underline">Swapsha96 (DM for citations requests, etc)</a>
      </div>
    </section>
  </main>
  <Footer />
</body>
</html>