---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<header class="border-b border-gray-200">
	<div class="container">
		<div class="py-6">
			<div class="mb-4">
				<h1 class="text-3xl font-bold text-lime-600">
					<a href="/">{SITE_TITLE}</a>
				</h1>
				<p class="text-gray-600">{SITE_DESCRIPTION}</p>
			</div>
			<nav>
				<div class="flex gap-8">
					<HeaderLink href="/">Home</HeaderLink>
					<HeaderLink href="/episodes">Episodes</HeaderLink>
					<HeaderLink href="/about">Links</HeaderLink>
				</div>
			</nav>
		</div>
	</div>
</header>

<style>
	h1 a {
		text-decoration: none;
		color: inherit;
	}
	h1 a:hover {
		color: var(--color-lime);
	}
</style>
