---
layout: default
---
<article class="episode-container">
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <!-- Video Section -->
  <section class="video-section">
    <h2>Watch Episode</h2>
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/{{ page.video_id }}"
        title="YouTube video player" frameborder="0"
        width="80%"
        style="aspect-ratio: 16 / 9;"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </section>
  <!-- Description Section -->
  <section class="description-section" style="margin-top: 40px;">
    <p><strong>Description:</strong> {{ page.description }}</p>
    <p><strong>Recorded on:</strong> {{ page.recorded_at | date: "%B %d, %Y" }}</p>
  </section>
  <!-- Tags Section -->
  <section class="tags-section">
    {% if page.tags %}
    <p class="tags">
      {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
      {% endfor %}

      (Coming soon!)
    </p>
    {% endif %}
  </section>
  <!-- Citations Section -->
  <section class="citations-section">
    <h2>Citations</h2>
    <ol class="citation-list">
      {% for citation in page.citations %}
      <li><a href="{{ citation.url }}" target="_blank">{{ citation.title }}</a></li>
      {% endfor %}
    </ol>
    <p class="links">Missing citations? <a href="https://github.com/LemonadeStandPodcast/LemonadeStandPodcast.github.io/issues" target="_blank">Check GitHub Issues</a> or <a href="https://x.com/swapsha96" target="_blank">DM on Twitter</a></p>
  </section>
</article>